body {
	background-color: #e4d5cb;
	color: #fff;
	font-family: "Maison Neue", sans-serif;
}

h1,
h2,
h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
}
h1 {
	font-weight: 600;
}
h2,
h3 {
	font-size: 18px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	text-align: center;
	font-weight: 500;
}

small {
	padding-top: 20px;
}

strong {
	font-size: 36px;
}

a {
	text-decoration: none;
}

form {
	margin-bottom: 30px;
}

li#temp-content {
	position: relative;
	right: -10px;
}

li.forecast-icon {
	position: relative;
	right: 10px;
}

li:first-letter {
	text-transform: capitalize;
}

span#current-temp {
	font-size: 3px;
	align-items: center;
}

.weather-app-container {
	position: relative;
	top: 200px;
	max-width: 700px;
	margin: 20px auto;
}

.weather-content {
	padding: 20px;
	border: 0.2rem outset #ece8d9;
	border-radius: 25px;
	background-color: #eba565;
}

#weather-icon {
	height: 100px;
	width: 100px;
}

.units {
	font-weight: 500;
	font-size: 18px;
	position: relative;
	top: -8px;
}
.upcoming-forecast {
	margin-top: 30px;
	max-width: 650px;
}
.form-control {
	background-color: #eba565;
	color: #fff;
}
.upcoming-forecast .min-temp {
	color: #a3a0a0fb;
}
.units .active {
	color: #000;
	cursor: default;
}
