h1,
h2,
h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
}
h1 {
	color: #596aca;
}
h2,
h3 {
	font-size: 18px;
	color: #48484a;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
	text-align: center;
	font-weight: 500;
}
small {
	padding-top: 20px;
}
strong {
	font-size: 36px;
}
a {
	text-decoration: none;
}
form {
	margin-bottom: 30px;
}
li#temp-content {
	position: relative;
	right: -10px;
}
li.forecast-icon {
	position: relative;
	right: 10px;
}
li:first-letter {
	text-transform: capitalize;
}
span#current-temp {
	font-size: 30px;
	align-items: center;
}
.weather-app-container {
	max-width: 700px;
	margin: 20px auto;
}
.weather-content {
	padding: 20px;
	border: 1px solid #000;
	border-radius: 25px;
}
#weather-icon {
	height: 100px;
	width: 100px;
}

.upcoming-forecast {
	margin-top: 30px;
	max-width: 650px;
}

.units {
	font-weight: 500;
	font-size: 18px;
	position: relative;
	top: -8px;
}
.upcoming-forecast .min-temp {
	color: #5e5858fb;
}
.units .active {
	color: #000;
	cursor: default;
}
